@charset "utf-8";
/* CSS Document */

nav {
  background-color: #333;
  height: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 50px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #555;
}
